# Folders
auto-save-list
bookmarks
elpa
elpy
projects
transient
emojis
url
tree-sitter
eln-cache

# Temp
network*
*desktop*
session*
*.*~
.*~
*~
tramp

# Files
custom.el
projectile-bookmarks.eld
.lsp-session*
